<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <img src="assets/ADHDmyway_Logo (1).png" alt="">
      </div>
  <ion-list>
    <ion-item>
      <ion-input required type="text" placeholder="Email"[(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" placeholder="Password"[(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button (click)="login()">Login</ion-button>
    </div>
    <div>
      <ion-button (click)="autoSignIn()">Use previous credentials</ion-button>
    </div>
    <ion-button (click)="post()">Use the post function!</ion-button>
    <ion-button (click)="get()">Use the get funciton!</ion-button>
</ion-content>
