.background{
    height: 100%;
    --ion-background-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
img {
     border: 10px;
}

ion-slides {
    --ion-background-color: white
}