ion-content {
    --ion-background-color: linear-gradient(to top, orange 0%, white 100%);
}

.item1{
    position: relative;
    display: inline;
}

.item2 {
    position: relative;
    display: inline;
}

.item3 {
    position: relative;
    display: inline;
}