<ion-header>
  <ion-toolbar>
    <ion-title>Start Your Mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <Div class="container" id="watchDiv">
        <h1><p id="output"><b > 0:0:0 </b></p></h1>

        <ion-buttons id="controls">
             <ion-button id="goBTN" (click)= "stopwatchfunc()"> <b>Start Mission!</b> </ion-button> 
             <ion-button (click)="go()"> <b> Mission Complete! </b> </ion-button>
        </ion-buttons>

    </Div>

    
 

</ion-content> 